<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="products"  routerLinkActive="active" class="btn btn-dark">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="showproducts" routerLinkActive="active" class="btn btn-dark">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="addproduct" routerLinkActive="active" class="btn btn-dark">Add Product</a>
      </li>
      <li class="nav-item">
        <a routerLink="editproduct" routerLinkActive="active" class="btn btn-dark">Edit Product</a>
      </li>
    </ul>
  </div>

</nav>
